* {
  padding: 0px;
  margin: 0;
}

body {
  background: url("img/TOP-10-CINEMATIC-BACKGROUNDS-FOR-THUMBNAILS.jpeg")
    no-repeat;
  background-size: cover;
  background-position: fixed;
  width: 90%;
  max-width: 1000px;
  margin: 2em auto;
  font-size: 1.2em;
  font-family: "Sen", sans-serif;
  color: rgba(207, 232, 220, 1);
}
main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(79, 185, 227, 0.3);
  padding: 15px 15px;
  border-radius: 5px;
  width: 60%;
  margin-left: 18%;
  border: 2px solid rgb(79, 185, 227);
}
.collection-title {
  display: flex;
  justify-content: center;
  font-size: 3em;
  margin-top: 1vh;
  margin-bottom: 3vh;
  background: rgba(79, 185, 227, 0.3);
  padding: 15px 15px;
  border-radius: 5px;
  width: 60%;
  margin-left: 18%;
  border: 2px solid rgb(79, 185, 227);
}
img.movie-icon {
  max-width: 100%;
  height: auto;
}
#movie-list > article {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(79, 185, 227);
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  color: #333;
  font-size: 1rem;
  line-height: 0.6rem;
}

h2 {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
h3 {
  display: flex;
  flex-direction: column;
  padding: 6px;
  font-family: "Permanent Marker", "Lucida Sans Unicode", sans-serif;
}
.template-rating {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-weight: bold;
}
.date {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
h5 {
  display: flex;
  flex-direction: column;
  padding: 5px;
  line-height: 1rem;
}
#movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  gap: 20px;
}

legend,
label {
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px;
}
form {
  width: 600px;
}
input {
  width: 100%;
  cursor: pointer;
}
textarea {
  resize: horizontal;
  margin-left: 15px;
}
input,
textarea {
  outline: none;
  border: 1px solid #ddd;
}
input:focus,
textarea:focus {
  border: 2px solid rgb(79, 185, 227);
}
::placeholder {
  color: rgb(79, 185, 227);
  opacity: 1;
}
:-ms-input-placeholder {
  color: hotpink;
}
::-ms-input-placeholder {
  color: hotpink;
  opacity: 1;
}
hr {
  display: none;
  margin-bottom: 20px;
}

.invalid {
  border: 2px solid red;
}
input + p {
  display: none;
}
input.invalid + p {
  display: block;
}
.unknown-tagline {
  display: none;
}

fieldset.form-control {
  border: 0;
}
input[type="radio"] {
  -moz-appearence: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: horizontal;
  margin-right: 0.7vw;
  margin-left: 0.7vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.rating-invisible {
  display: none;
}
/*
input:checked::before {
  content: "";
  height: 15px;
  width: 15px;
  background: red;
  border-radius: inherit;
  place-self: center;
}
input:checked::after {
  content: "";
  height: 15px;
  width: 15px;
  background: greenyellow;
  border-radius: inherit;
  place-self: center;
}
*/
@media (max-width: 768px) {
  img.movie-icon {
    display: none;
  }
}
@media (max-width: 576px) {
  img.movie-icon {
    display: none;
  }
  #movie-list > article {
    position: relative;
    border-radius: 5px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
    color: #333;
    font-size: 1rem;
    line-height: 1rem;
  }
  header {
    width: 80%;
    margin-left: 20px;
  }
  input.movie-title-pick {
    width: 80%;
    margin-left: 10px;
  }
  select.movie-title-pick {
    width: 85%;
    margin-left: 10px;
  }
  textarea.movie-title-pick {
    width: 80%;
    margin-left: 10px;
  }
  #movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0;
    gap: 10px;
  }
}
